<!--Main Slider-->
<%- include('partials/home/main-slider') %>
  <!--End Main Slider-->
  <!-- Contacts Section -->
  <%- include('partials/home/contacts') %>
    <!-- End Contacts Section -->
    <!-- Welcome Section -->
    <%- include('partials/home/welcome') %>
      <!-- End Welcome Section -->
      <!-- Mission Section -->
      <%- include('partials/home/mission') %>
        <!-- End Mission Section -->
        <!-- Services Section -->
        <%- include('partials/home/services-carousel') %>
          <!-- End Services Section -->
          <!-- why-us Section -->
          <%- include('partials/home/why-us') %>
            <!-- End why-us Section -->
            <!-- Quality Section -->
            <%- include('partials/home/quality') %>
              <!-- End Quality Section -->
              <!-- Services Section Three -->
              <%- include('partials/home/services') %>
                <!-- End Services Section Three -->
                <!-- Call To Action Section -->
                <section class="call-to-action-section" style="background-image: url(images/background/1.png);">
                  <div class="auto-container">
                    <h2>Share Your Cares. Inspire Others.</h2>
                    <div class="text">Join our movement to make the world a better place for all.</div>
                    <a href="contact.html" class="theme-btn btn-style-two"><span class="txt">contact us</span></a>
                  </div>
                </section>
                <!-- End Call To Action Section -->
                <!-- Testimonial Section -->
                <%- include('partials/home/testimonials') %>
                  <!-- End Testimonial Section -->
                  <!-- Appointment Section -->
                  <%- include('partials/home/appointment') %>
                    <!-- End Appointment Section -->